@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap");
button, button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.font-baloo {
  font-family: "Baloo Thambi 2", cursive;
}

.font-rale {
  font-family: "Raleway", cursive;
}

.font-rubik {
  font-family: "Rubik", cursive;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-20 {
  font-size: 20px;
}

.color-primary {
  color: #003859;
}

.color-primary-bg {
  background: #003859;
}

.color-second {
  color: #00A5C4;
}

.color-second-bg {
  background: #00A5C4;
}

.color-yellow {
  color: #FFD289;
}

.color-yellow-bg {
  background: #FFD289;
}

.pri {
  margin-top: 2%;
  margin-bottom: 0;
}
.head {
    box-sizing: border-box;
    padding: 20px;
    font-family: fantasy;
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.containerr {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}